# transpiled files and dependencies
/node_modules
/public/vendors
# ignore all config except default
/config/env/*
!/config/env/default.json

/config/project-*.json
!/config/project-default.json

# application instance specific
.build
.data
.vendors

# junk files
package-lock.json
.DS_Store
Thumbs.db

certs

dns/bin
dns/log
dns/dnsmasq.leases

/projects
!/projects/default
projects/default/recordings/*
projects/default/sessions
