[Unit]
Description=Launch CoMo Element application
Wants=network-online.target
After=network-online.target

[Service]
Type=idle
Environment="ENV=rpi"
ExecStart=/usr/bin/node /home/pi/como-elements/.build/server/index.js
WorkingDirectory=/home/pi/como-elements
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
